:root{
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
    --spacing-10: 10px;
    --spacing-20: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset CSS - usamos o seletor universal * asterisco === todos os elementos da páina */

body {
    background-color: var(--color-grey-900);
    font-family: "Rubik", sans-serif;
}

ol, ul {
    list-style: none;
}

.container img{
    border-radius: 50%;
    border: 3px solid var(--color-white);
    transition: 300ms;
}

.container:hover img{
    border-color: var(--color-green);
    scale: 1.1;
}

.container h1 {
    font-size: 38px;
    font-weight: 300px;
    margin-block: var(--spacing-10);
}

.container h2 {
    color: var(--color-green);
    font-size: 26px;
    font-weight: 200;
    margin-bottom: var(--spacing-10);
}

.container p {
    font-size: 13;
    font-weight: 200;
    margin-block: var(--spacing-20);
}

.container{
    background-color: var(--color-grey-800);
    color: var(--color-white);
    width: 550px;
    text-align: center;
    padding: var(--spacing-20);
    border-radius: 8px;
    margin: 10px auto;

}

.social li {
    background-color: var(--color-grey-700);
    margin-block: var(--spacing-20);
    margin-block: var(--spacing-20);
    border-radius: 8px;
    
}

.social a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 14;
    font-weight: 400;
    border-radius: 8px;
    display: block; /* Preenche todo bloco/contéudo */
    padding-block: var(--spacing-10);
    transition: .5px;
}

.social a:hover{
    background-color: var(--color-green);
    color: var(--color-grey-900)
}
